<h1>Sukruti Gandhi</h1>

<h4>
<ul>
    <p> My name is sukruti Gandhi.I am 28 years old.I currently live in India.I have completed bachelors in computer science technology and have work on various projects.I currently work at lonoak solution as a senior developer in .net framework and currently have gathered 6 years of experience.
    </p>
</ul>
</h4>
